.bio-page {
  min-height: 100vh;
  width: 100%;
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.student-container {
  height: 500px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.student-details {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
}
.student-container-head {
  padding: 10px;
  font-size: 40px;
  font-weight: 900;
  color: #45454D;
}
.details-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.img {
  width: 80%;
  object-fit: contain;
  border: 5px groove #FDFBEE;
}
.student-name {
  font-size: 20px;
  color: #333446;
}
.class, span{
  color: #0B1D51;
  font-size: 20px;
}
.perosnal-details {
  height: 500px;
  width: 50%;
  padding-top: 10px;
  /* background-color: cadetblue; */
}
.personal-heading{
  color: #3A1078;
  padding: 5px;
}
td{
  padding: 8px;
  color: #333446;
  font-size: 18px;
  font-weight: 600;
}
strong{
  color: #3A1078;
  font-size: 18px;
  font-weight: 800;
}