.item-container {
  height: 60px;
  max-width: 500px;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
.item-content {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}
.roll-no {
  font-size: 30px;
  font-weight: bold;
  color: blue;
}
.stu-name {
    font-size: 30px;
  font-weight: bold;
  color: green;
}
.status {
  padding: 5px 5px;
  border-radius: 6px;
  font-size: 18px;
  border: 2px solid transparent;
}
.checkbox-container{
  width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.present{
  color: white;
  background-color: green;
}
.absent{  
  color: white;
  background-color: red;
}