.attendForm-container {
  padding: 20px 10px ;
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-left: 2px solid grey;
}
.attendForm-container h2{
  color: var(--head-color);
} 
.date-input{
  max-width: 150px;
  font-size: 18px;
  border: 2px solid var(--head-color);
  padding: 5px;
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--bg-color);
}
.attend-btn-container {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}
.save {
  background-color: rgba(0, 0, 255, 0.801);
}
.attend-student-list {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.attend-each-student {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}
.attend-btn {
  padding: 5px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 18px;
}
.present {
  background-color: green;
}
.absent {
  background-color: red;
}
