.Attendance-container {
  min-height: 100vh;
  width: 100%;
  padding: 10px;
  background-color: var(--bg-color);
  position: relative;
  top: 50px;
}
.attend-heading{
  color: var(--head-color);
}
.attendance-form-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.monthly-view{
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar {
  position: fixed;
  top: 110px;
  right: 0;
  width: 450px;
  height: 100%;
  padding-bottom: 80px ;
  background-color: grey;
  color: turquoise;
  overflow: auto;
  transition: transform 0.1s ease-in-out;
  z-index: 1000;  
  color: aliceblue;
}

.sidebar.collapsed {
  display: none;
  transform: translateX(-100%);
}

.topbar {
  position: fixed;
  top: 60px;
  right: 0;
  height: 50px;
  width: 100%;
  background-color: var(--bg-color);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1100;
  box-shadow: 2px 0px 3px grey;
}

.toggle-button {
  background: none;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .sidebar.collapsed {
    transform: translateX(0);
    width: 60px;
  }
}
