.Attendance-container {
  min-height: 100vh;
  width: 100%;
  padding: 10px;
  background-color: var(--bg-color);
  position: relative;
  top: 50px;
}
.attend-heading {
  color: var(--main-head-color);
  text-shadow: 0px 2px 2px whitesmoke;
}
.attendance-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar {
  position: fixed;
  top: 110px;
  right: 0;
  width: 450px;
  height: 100%;
  padding-bottom: 80px;
  overflow: auto;
  transition: transform 0.1s ease-in-out;
  z-index: 1000;
  color: aliceblue;
}

.sidebar.collapsed {
  display: none;
  transform: translateX(-100%);
}

.topbar {
  position: fixed;
  top: 60px;
  right: 0;
  height: 60px;
  width: 100%;
  background-color: var(--bg-color);
  text-align: center;
  border-bottom: 2px groove var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1100;
  box-shadow: 2px 0px 3px grey;
}
.top-bar-btn-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-button {
  padding: 5px 10px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}
.toggle-button span {
  padding-left: 5px;
}

@media (max-width: 768px) {
  .top-bar-btn-container {
    width: 100%;
  }
  .toggle-button {
    font-size: 18px;
  }
  .sidebar {
    width: 100%;
  }
}
