.navbar{
  min-height: 60px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
  background:var(--bg-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
}
.menu-icon{
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: #333;
  color: aqua;
}
.nav-links{
  display: flex;
  gap: 16px;
  list-style: none;
}

@media (max-width: 768px) {
  .nav-links{
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    flex-direction: column;
    background: var(--bg-color);
  }
  .nav-links.open{
    display: flex;
  }
  .menu-icon {
    display: block;
  }
}