.Home-container {
  min-height: 100vh;
  position: relative;
  top: 0px;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  text-align: center;
  color: var(--main-head-color);
}
.home-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.home-item {
  height: 200px;
  min-width: 300px;
  max-width: 300px;
  padding: 10px 20px;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.item-head {
  text-align: center;
  font-size: 1.75rem;
  color: var(--head-color);
}
.item-desc {
  text-align: center;
  color: var(--card-text-color);
  font-weight: 400;
  font-size: 20px;
}
.item-btn-container {
  padding-top: 10px;
  min-height: 50px;
  display: flex;
  justify-content: center;
}
.item-btn {
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: var(--button-color);
  color: var(--text-color);
  font-weight: 900;
  box-shadow: 2px 2px 0px whitesmoke;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item-btn:hover {
  /* background-color: aqua; */
  color: #f0f0f0;
  box-shadow: -2px -2px 1px red;
}
