.course-list-container{
    min-width: 700px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px ;
}
.course-list-container h2{
    text-align: center;
}
.course-list{
    width: 100%;
    text-align: center;
}
.course-list th{
    border-bottom: 2px solid grey;
    padding: 5px 20px;
}
.btn-row{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    gap: 10px;
}
.courselist-btn{
    min-width: 60px;
    padding: 5px ;
    border: 2px solid transparent;
    border-radius: 4px;
}
.edit-btn{
    background-color: blue;
    color: whitesmoke;
}

.delete-btn{
    background-color: red;
    color: whitesmoke;
}