.add-student-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  padding: 10px 20px;
  background-color: var(--card-color);
  border-radius: 10px;
}
.add-student-form h2 {
  text-align: center;
  color: var(--head-color);
}
.add-student-form input,
.add-student-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.Addform-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.Addform {
  text-align: center;
  font-size: 18px;
  padding: 8px 10px;
  display: flex;
  border: none;
  border-radius: 4px;
  color: whitesmoke;
  cursor: pointer;
}
.add {
  background-color: var(--btn-color);
}
.cancel {
  background-color: var(--btn-danger-color);
}
