.monthly-attendance-view{
    min-height: 100vh;
    background-color: var(--bg-color);
    padding: 20px;
}
.monthly-attendance-view h2 {
    text-align: center;
    color: var(--head-color);
    font-size: 30px;
}
.monthly-attendance-view select {
    padding: 5px;
    margin: 10px;
    border: 2px solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 20px;
    outline: none;
}
.monthly-table{
    overflow-x: auto;
    margin-top: 20px;
}
.monthly-table table {
    width: 100%;
    border-collapse: collapse;
}
.monthly-table th, .monthly-table td {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 20px;
}
